#a1,#a2,#a3,#a4,#a5,#a6,#a7,#a8,#a9,#a10,#a11,#a12,#a13,#a14,#a15,#a16{
    height: 100px;
    width: 100px;
    background-color: white;
    display: inline-block;
    
}
img{
    height: 100px;
    width: 100px;
}
.hidden{
    background-color: pink;
}

#game{
    
    margin-top: 30px;
    margin-bottom: 30px;
}


body{
    background-color: #264653;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #457b9d;
    text-align: center;
}

button{
    margin-top: 10px;
    background-color: #457b9d;
    color: white;
    border-color: white;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
